-
    var menu = [
    'home',
    'about',
    'services',
    'portfolio',
    'blog',
    'features',
    'contacts'
    ];
+b('header').header
    +e.bg
    .container
        +e.menu
            +b.logo(href='/')
                +e('span').title modus
                +e('span').title._small versus
            +b.nav
                each item in menu
                    +e.link(href='#')=item




