-
    btn = {
        mod: '_red _big',
        text: 'View more',
        href: ''
    },
    services = [
    {
    icon: 'like',
    title: 'SUSPENDISSE',
    text: 'Quisque id tellus quis risus vehicula vehicula ut turpis. In eros nulla, placerat vitae at, vehicula ut nunc. '
    },
    {
    icon: 'key',
    title: 'MAECENAS',
    text: 'Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.'
    },
    {
    icon: 'flag',
    title: 'ALIQUAM ',
    text: 'Vivamus eget ante bibendum arcu vehicula ultricies. Integer venenatis mattis nisl, vitae pulvinar dui tempor non. '
    },
    {
    icon: 'flask',
    title: 'HABITASSE ',
    text: 'Astehicula ultricies. Integer venenatis mattis nisl, vitae pulvinar dui tempor non. '
    }
    ]

+b('section').services
    .container
        +b.top-services
            +e.text
                +e('h2').title Some of our top services
                +e.subtitle Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.
            +e.btn
                +button(btn)
        +e.services-list
            +b.services-list
                each item in services
                    +e.item
                        +e.icon(class=" icon-" + item.icon)
                        +e('h3').title=item.title
                        +e.text=item.text
                        +e.btn
                            +button({text:"read more"})
