body {
    font-family: $main-font, sans-serif;
    font-size: 16px;
}

.wrapper {
    position: relative;
    z-index: 10;
    overflow: hidden;
}
.container {
    overflow: hidden;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
    width: 100%;
    border: 1px solid red;
}
.pseudo-hidden {
    position: absolute;
    left: -200vw;
    opacity: 0;
    z-index: -999;
    pointer-events: none;
    overflow: hidden;
    transform: scale(0);
}